body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: #fff;
  overflow-x: hidden;
}

header {
  background-color: rgba(51, 51, 51, 0.7);
  color: #fff;
  padding: 1em 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(-45deg, #e73c7e, #41434a, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: animateHeader 15s ease infinite;
  z-index: -1;
}

@keyframes animateHeader {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

nav ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 1.5em;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff9900;
}

main {
  padding: 20px;
}

.featured-products {
  text-align: center;
  margin-bottom: 30px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-item {
  border: none;
  padding: 20px;
  width: 250px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
}

.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.product-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  object-fit: cover;
}

.price {
  font-weight: bold;
  color: #ff9900;
  display: block;
  margin-bottom: 5px;
}

.stock {
  display: block;
  margin-bottom: 10px;
}

button {
  background-color: #5cb85c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4cae4c;
}

footer {
  text-align: center;
  padding: 1em 0;
  background-color: rgba(51, 51, 51, 0.7);
  color: #fff;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(-45deg, #e73c7e, #23a6d5, #23d5ab, #41434a);
  background-size: 400% 400%;
  animation: animateFooter 20s ease infinite;
  z-index: -1;
}

@keyframes animateFooter {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 10% auto;
  padding: 30px;
  border-radius: 15px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  position: relative;
  color: #333;
}

.close-button {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.close-button:hover,
.close-button:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 15px;
  font-weight: bold;
}

input {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

form button {
  background-color: #5cb85c;
  color: white;
  padding: 14px 22px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  width: auto;
  font-size: 18px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

form button:hover {
  background-color: #4cae4c;
}

#admin-panel {
  display: none;
  padding: 20px;
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#add-product-form label {
  margin-top: 10px;
}

#add-product-form input {
  margin-bottom: 15px;
}

#product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: #333;
  background-color: #fff;
}

#product-table th,
#product-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

#product-table th {
  background-color: #f2f2f2;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens horizontalmente */
}

.product-details .price {
  order: 1; /* Garante que o preço apareça primeiro */
}

.product-details .stock {
  order: 2; /* Garante que o estoque apareça em segundo */
}